*.iml
# Android Studio IDE specific files
/.idea

# Built application files
/build

# Other
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/captures
.externalNativeBuild
.cxx

# Google Services file
google-services.json

#Keys
release-temp.jks