<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartAir"
        tools:targetApi="31">

        <!-- Entry Point -->
        <activity
            android:name=".EntryPointActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Onboarding & Home Activities -->
        <activity
            android:name=".onboarding.view.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.ChildLoginActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.ParentHomeActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.ProviderHomeActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.ChildHomeActivity"
            android:exported="false" />
        <activity
            android:name=".dailycheckin.view.DailyCheckInActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.AddChildActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.view.SelectChildLoginActivity"
            android:exported="false" />

    </application>

</manifest>